.intro {
  text-align: center;
  margin-top: 0;
  background-color: #364042;
  width: 100vw;
  height: auto;
  padding-top: 4%;
}

.hex-top {
  width: 0;
  border-bottom: 80px solid #FF7260;
  border-left: 162px solid transparent;
  border-right: 162px solid transparent;
}

.hex-middle {
  padding-top: 4%;
  width: 324px;
  height: 110px;
  background-color: #FF7260;
}

.hex-bottom {
  width: 0;
  border-top: 80px solid #FF7260;
  border-left: 162px solid transparent;
  border-right: 162px solid transparent;
}
.introParagraph {
  font-size: 16px;
}
.overview {
  @extend %sectionSpecifics;
  @extend %gradientGreyBottom;
  text-align: left;
  h1 {
    padding-bottom: 4%!important;
  }
}
.context {
  @extend %sectionSpecifics;
  @extend %gradientGreyTop;
  // color: lighten(teal, 15%);
  text-align: right;
  h1 {
    padding-bottom: 4%!important;
  }
}
