{{md-parallax image="../assets/img/wow2.jpg"}}
  <div class="headerBar">
    <p><h4><span class="wowHead">Wowhead</span><br>
     Case Study</h4></p>
    <p>A fresh, new, modernized look at the popular database website: Wowhead</p>
  </div>
{{md-parallax image="../assets/img/wow2.jpg"}}

    <div class="overview row">
      <div class="container">
        <div class="col s4">
          <div class="hex-top">
          </div>
          <div class="hex-middle">
            Role<br>
            UX/UI Designer
          </div>
          <div class="hex-bottom">
          </div>
        </div>

      <div class="col s4">
        <div class="hex-top">
        </div>
        <div class="hex-middle">
          Technology<br>
          Sketch/Invision
        </div>
        <div class="hex-bottom">
        </div>
      </div>
      <div class="col s4">
        <div class="hex-top">
        </div>
        <div class="hex-middle">
          Atomic Level<br>
          Over 9000
        </div>
        <div class="hex-bottom">
        </div>
      </div>

        <div class="row col s12">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p id="scrolly">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
    <div class="overviewContent row col s12">

    </div>
  </div>
