<span id="top"></span>

{{md-parallax image="../assets/img/wow2.jpg"}}

  <div class="headerBar">
    <p><h4><span class="wowHead">Wowhead</span><br>
     Case Study</h4></p>
    <p>A fresh, new, modernized look at the popular database website: Wowhead</p>
  </div>

{{md-parallax image="../assets/img/wow2.jpg"}}

  <div id="intro" class="intro">
    <div class="container">
      <div class="row">
        <div class="col s4">
          <div class="hex-top">
          </div>
          <div class="hex-middle">
            <span class="skillz">Role</span><br>
            <span class="proTitle">UX/UI Designer</span>
          </div>
          <div class="hex-bottom">
          </div>
        </div>

        <div class="col s4">
          <div class="hex-top">
          </div>
          <div class="hex-middle">
            <span class="skillz">Technology</span><br>
            <span class="proTitle">Sketch/Invision</span>
          </div>
          <div class="hex-bottom">
          </div>
        </div>
        <div class="col s4">
          <div class="hex-top">
          </div>
          <div class="hex-middle">
            <span class="skillz">Context</span><br>
            <span class="proTitle">Redesign Concept</span>
          </div>
          <div class="hex-bottom">
          </div>
        </div>
      </div>
      <div class="row col s12">
        <span class="introParagraph">
          <br><br>
          <p>For one of my indepedent projects at Epicodus, I chose to redesign the popular website Wowhead. I wanted to test my newfound skills with atomic designing and the design process using Sketch.</p>

          <p>Enjoy as I walk you through my process!</p>
        </span>
      </div>
    </div>
    <div class="overview row col s12">
      <div class="container">
        <span class="wowHead" id="overview"><h2>The Overview</h2></span>

          <p>As my first redesign project as a junior UI developer, I was presented with many challenges that I overcame with hours of brainstorming and research. The eclectic website of Wowhead was quite a feat to tackle and to modernize it in a way that it would turn into something clean and sleek was a fun undertaking.</p>
            <p class="challengeText"><b class="redText">Feats of Strength: Intended Accomplishments</b><br></p>
            <ul class="feats">
              <li>Original: <b>Eclectic</b> &nbsp;&nbsp;<img src="../assets/img/next.png" alt="next arrow"> &nbsp;&nbsp;Redesign: <i>Clean</i></li>|
              <li>Original: <b>Outdated</b> &nbsp;&nbsp;<img src="../assets/img/next.png" alt="next arrow"> &nbsp;&nbsp;Redesign: <i>Modernized</i></li>|
              <li>Original: <b>Loud</b> &nbsp;&nbsp;<img src="../assets/img/next.png" alt="next arrow"> &nbsp;&nbsp;Redesign: <i>Soft</i></li>|
              <li>Original: <b>Loads of Info</b> &nbsp;&nbsp;<img src="../assets/img/next.png" alt="next arrow"> &nbsp;&nbsp; Redesign: <i>Condensed</i></li>
            </ul>
      </div>
    </div>
  </div>

  {{md-parallax image="../assets/img/wow3.jpg"}}

  <div class="intro context row col s12">
    <div class="container">
      <div class="col s11 offset-s1">
        <span class="wowHead" id="challenge"><h2>The Context and Challenge</h2></span>

          <p class="challengeText"><b class="redText">The Project</b><br>
          Over the course of four weeks at Epicodus, level three students in Design class were to choose an indepedent project to work on. The project could be anything from redesigning a website or creating our own with a specific topic.<br><br>
          <b class="redText">The Choice</b><br>
          I originally chose a different project idea and spent a week guiding my efforts towards that subject but ultimately scrapped it. I decided to go with one of my most frequently used websites: Wowhead.<br><br>
          <b class="redText">The Challenge</b><br>
          Undertaking such a huge database website was initially overwhelming. I had so much content to work with and little time. I found patterns of where information was being thrown and was able to creatively condense it and present it in an updated modern look.<br>
          <img class="screen" src="../assets/img/ScreenTop.png">
          <br><br>
          <b class="redText">Modern. Sleek. Clean.</b><br>
          Having so little time in order to work with a database that has been accumulating information for over ten years was a challenge, but I dove in head first. My design keywords are modern, sleek, and clean. Wowhead's website could be described as cluttered, loud, and overwhelming. The challenge of transforming it into my ideal website was one that needed lots of brainstorming and inspiration.
          </p>
      </div>
    </div>
  </div>
  <div class="overview row col s12">
    <div class="container">
      <span class="wowHead" id="process"><h2>The Process and Insight</h2></span>
      <div class="stacker">
        <div class="card medium">
         <div class="card-image waves-effect waves-block waves-light">
           <img class="activator" src="../assets/img/Logo.png">
         </div>
         <div class="card-content">
           <span class="card-title activator redText">Mentality<i class="material-icons right">more_vert</i></span>
           <p>Before anything, my design ideals were put to the test with how eclectic Wowhead is. Content is everywhere and anywhere and thinking simplistic proved challenging. </p>
         </div>
         <div class="card-reveal">
           <span class="card-title"><i class="material-icons right">close</i></span>
           <p>Since there was so much information thrown at the user, I drew out several ideas of how to modernize and simplify it. I wanted to maintain the World of Warcraft theme so in order to do that, I kept the similar text and text colors. Gradients galore! I fell in love with gradients while using Sketch, with that it gave components a more 3D feel to it.</p>
           <p>The logo they had used was a red rocket grinning. Personally, I'm not exactly sure what the relevance was with World of Warcraft. I decided to recreate a logo more fitting to the redesign with a more sleek and modern one. Since Wowhead is the most used database for the video game, it seemed fitting to incorporate the original World of Warcraft logo and combined it with the title of the website.</p>
         </div>
        </div>
        <div class="card medium">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="../assets/img/ClassGuidesMenu.png">
          </div>
          <div class="card-content">
            <span class="card-title activator redText">Atomic Thinking<i class="material-icons right">more_vert</i></span>
            <p>Using my newfound knowledge of the atomic process. I broke down components of Wowhead into componets that could be used multiple times.</p>
          </div>
          <div class="card-reveal">
            <span class="card-title"><i class="material-icons right">close</i></span>
            <p>I spent at least an hour staring and navigating through the layout of Wowhead. I clicked through several pages of information taking note of key items used. </p>

            <p>Examples included: navigation, buttons, boxes of text information, hover effects, etc. Starting with navigation, I created several symbols within Sketch and was easily able to plant them throughout my layout which saved a ton of time.</p>
          </div>
          </div>
          <div class="card medium">
           <div class="card-image waves-effect waves-block waves-light">
             <img class="activator" src="../assets/img/QuestModal.png">
           </div>
           <div class="card-content">
             <span class="card-title activator redText">Usability<i class="material-icons right">more_vert</i></span>
             <p>The biggest challenge with this redesign was the usability. Wowhead has over ten years of accumulated information from users all across the globe. </p>
           </div>
           <div class="card-reveal">
             <span class="card-title"><i class="material-icons right">close</i></span>
             <p>The sheer amount of information that Wowhead has is overwhelming. As I spent my time navigating and noticing where they chose to place information, it was a lot to take in. As noisy as it was with information laid out in every possible crevice of the DOM, I managed to pin point the most important parts of each section.</p>
             <p>In order to condense the amount of information being thrown at the user, I had to think of it from my own perspective. As a user, a player of this game, what is it that I mainly use this website for? I developed three personas, whom were actually real people I've known to use Wowhead and thought about how they might use it.</p>
             <p>Going with my simplistic approach, I developed pathways that lead the user to the least amount of clicking but with the maximum condensed amount of information. The use of modals was key.</p>
           </div>
          </div>
        </div>
      </div>
    </div>

  {{md-parallax image="../assets/img/wow4.jpg"}}

    <div class="intro row col s12">
      <div class="container">
        <span class="wowHead" id="solution"><h2>The Solution</h2></span>
          After spending many hours alone researching, drawing, and brainstorming I found my vision. Once I started putting my vision into a physical thing I could see, it didn't stop. Building upon that vision and developing more intricate ways to give Wowhead a newer and cleaner feel along with my design ideals.<br><br>
          <b class="redText">Finalized</b><br>
          <img class="samples" src="../assets/img/LandingPage.png" alt="wowhead landing page"><br>
          <img class="samples" src="../assets/img/Main.png" alt="wowhead main page">
          <img class="samples" src="../assets/img/GuidesSpecificPage.png" alt="wowhead guides page">
          <img class="samples" src="../assets/img/ActualGuidePage.png" alt="wowhead guide page">
          <img class="samples" src="../assets/img/GuidesPage.png" alt="wowhead guide page">
      </div>
    </div>

    <div class="overview row col s12">
      <div class="container">
        <span class="wowHead" id="results"><h2>The Result</h2></span>
        <p class="challengeText"><b class="redText">Knowledge increased by 5!</b><br></p>
        <p>After studying design concepts for five weeks, my knowledge and understanding of the processes behind it has grown tremendously. I've been able to create a detailed redesign project by breaking it down into components and condensing large amounts of information for a more user friendly experience through this project.</p>
        <p class="challengeText"><b class="redText">Self-Esteem increased by 1!</b><br></p>
        <p>As a junior UI developer and honing my skills, I felt particularly proud of this project and passed the required objectives for the class with flying colors, literally.</p>
        <p class="challengeText"><b class="redText">Portfolio gained additional item!</b><br></p>
        <p>Adding more the the portfolio is always a plus, and because of the Wowhead redesign project, I was able to create this awesome case study. Who doesn't love indepth workings of design?</p><br><br>

        <center>
          <img src="../assets/img/quest.png" alt="exclamation point" /><p class="challengeText"><b class="redText"><a class="link" href="https://invis.io/UE78AOI7S" target="_blank">Check out my Invision Prototype of Wowhead</a></b><br></p>
            {{#scroll-to href="#top"}}
            Return to the Top
            {{/scroll-to}}

        </center>
        </div>
      </div>
