<span id="top"></span>
{{md-parallax image="../assets/img/wow2.jpg"}}
  <div class="headerBar">
    <p><h4><span class="wowHead">Wowhead</span><br>
     Case Study</h4></p>
    <p>A fresh, new, modernized look at the popular database website: Wowhead</p>
  </div>
{{md-parallax image="../assets/img/wow2.jpg"}}

    <div id="intro" class="intro row">
      <div class="container">
        <div class="col s4">
          <div class="hex-top">
          </div>
          <div class="hex-middle">
            <span class="skillz">Role</span><br>
            <span class="proTitle">UX/UI Designer</span>
          </div>
          <div class="hex-bottom">
          </div>
        </div>

      <div class="col s4">
        <div class="hex-top">
        </div>
        <div class="hex-middle">
          <span class="skillz">Technology</span><br>
          <span class="proTitle">Sketch/Invision</span>
        </div>
        <div class="hex-bottom">
        </div>
      </div>
      <div class="col s4">
        <div class="hex-top">
        </div>
        <div class="hex-middle">
          <span class="skillz">Context</span><br>
          <span class="proTitle">Redesign Concept</span>
        </div>
        <div class="hex-bottom">
        </div>
      </div>
      <div class="row col s12">
        <span class="introParagraph">
          <br><br>
          <p>For one of my indepedent projects at Epicodus, I chose to redesign the popular website Wowhead. I wanted to test my newfound skills with atomic designing and the design process using Sketch.</p>

          <p>Enjoy as I walk you through my process!</p>
        </span>
      </div>
    </div>
    <div class="overview row col s12">
      <div class="container">
        <span class="wowHead" id="overview"><h2>The Overview</h2></span>


          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <ul>
            <li>List Things</li>
            <li>List Things</li>
            <li>List Things</li>
          </ul>
      </div>
    </div>
    <div class="context row col s12">
      <div class="container">
        <div class="col s8 offset-s4">
          <span class="wowHead" id="challenge"><h2>The Context and Challenge</h2></span>

            <p class="challengeText"><b class="redText">The Project</b><br>
            Over the course of four weeks at Epicodus, level three students in Design class were to choose an indepedent project to work on. The project could be anything from redesigning a website or creating our own with a specific topic.<br><br>
            <b class="redText">The Choice</b><br>
            I originally chose a different project idea and spent a week guiding my efforts towards that subject but ultimately scrapped it. I decided to go with one of my most frequently used websites: Wowhead.<br><br>
            <b class="redText">The Challenge</b><br>
            Undertaking such a huge database website was initially overwhelming. I had so much content to work with and little time. I found patterns of where information was being thrown and was able to creatively condense it and present it in an updated modern look.<br>
            <img class="screen" src="../assets/img/ScreenTop.png">
            <br><br>
            <b class="redText">Modern. Sleek. Clean.</b><br>
            Having so little time in order to work with a database that has been accumulating information for over ten years was a challenge I dove head first in. My main design key words are modern, sleek, and clean. Wowhead's could be described as cluttered, loud, and overwhelming. The challenge of transforming it into my ideal website was one that needed lots of brainstorming and inspiration.
            </p>
        </div>
      </div>
    </div>
    <div class="overview row col s12">
      <div class="container">
          <span class="wowHead" id="process"><h2>The Process and Insight</h2></span>

            <p class="challengeText"><b class="redText">The Project</b><br>
            Over the course of four weeks at Epicodus, level three students in Design class were to choose an indepedent project to work on. The project could be anything from redesigning a website or creating our own with a specific topic.<br><br>
          </p>
      </div>
    </div>



  </div>
